@model Pin

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
</head>

<h2>Update @Model.PinName</h2>

@using (Html.BeginForm("UpdatePinToDatabase", "Pin", "Post"))
{

<div class="one" id="map" style="height: 500px"></div>
  
<script>
    var lat = @Model.PinLat;
    var lng = @Model.PinLong;
    
    var map = L.map('map').setView([lat, lng], 14);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    }).addTo(map);

    var marker = L.marker([lat, lng], { draggable: true }).addTo(map);

    // Click map to move marker
    map.on('click', function (e) {
        marker.setLatLng(e.latlng);
        updateHiddenFields(e.latlng.lat, e.latlng.lng);
    });

    // Drag marker to move
    marker.on('dragend', function (e) {
        var pos = e.target.getLatLng();
        updateHiddenFields(pos.lat, pos.lng);
    });

    function updateHiddenFields(lat, lng) {
        document.getElementById("PinLat").value = lat;
        document.getElementById("PinLong").value = lng;
    }
</script>

     <input asp-for="PinId" type="hidden" value="@Model.PinId" />
     <input asp-for="PinLat" type="hidden" value="@Model.PinLat" />
     <input asp-for="PinLong" type="hidden" value="@Model.PinLong" />
    
    <label asp-for="PinName" class="control-label">Name</label>
    <input type="text" name="PinName" class="form-control" value="@Model.PinName" />

    <label asp-for="PinJournal" class="control-label">Journal Entry</label>
    <input type="text" name="PinJournal" class="form-control" value="@Model.PinJournal" />
    
    @* <label asp-for="PinImage" class="control-label">Image</label> *@
    @* <input type="file" name="imageFile" accept="image/*" /> *@
    
    @* <input type="text" name="PinImage" class="form-control" value="@Model.PinImage" /> *@

    <input type="submit" value="Update Pin" class="btn btn-primary" />
    

}